body {
    font-family: 'Comfortaa', cursive;
    background-color: #f5f5f5;
}
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: lightblue;
    padding: 1rem;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95rem;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    padding: 0;
}

li{
    display: inline-block;
    padding: 0 1.25rem;
}

li a{
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-toggle{
    display: none;
    position: absolute;
    top: 3rem;
    right: 1.5rem;
}

.open{
    height: 25vh;
}

@media all and (max-width: 720px) {
    .container{
        flex-direction: column;
        align-items: flex-start;
    }

    nav{
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }
    
    li{
        display: block;
        text-align: center;
        padding: 1.5rem 0;
    }

    li a{
        font-size: 1.4rem;
    }

    .nav-toggle{
        display: block;
    }
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 19px;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: dodgerblue;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li :hover::after{
    width: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
   
  body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
}


/* loginbox */

.loginbox{
    width: auto;
	background: #1f1e20;
	align-items: stretch;
	flex: 0 0 200px;
    color: #fff;
    top: 50%;
	left: 50%;
    position: fixed;
	transform: translate(-50%, -50%);
	flex-grow: auto;
    box-sizing: border-box;
    padding: 70px 70px;
    border-radius: 20px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
	margin-bottom: 20px;
	
}
.loginbox input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
	width: 360px;
    color: #fff;
    font-size: 16px;   
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 60px;
	width: 200px;
    background: #557A95;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #379683;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}